.blog-post-content {
    font-family: "Noto Sans KR", sans-serif;
    letter-spacing: -0.0125rem;
    line-height: 2rem;

    iframe {
        width: 100%;
        aspect-ratio: 16 / 9;
    }

    strong {
        font-weight: 500;
        color: #ee8c36;
    }

    img {
        width: 100%;
        margin: 0.75rem 0 0.75rem 0;
        z-index: 0;
        border-radius: 1rem;
    }

    h2 {
        font-size: 1.625rem;
        letter-spacing: 0.025rem;
        margin-top: 2rem;
        margin-bottom: 1.5rem;
        line-height: 2.375rem;
        padding: 1.1rem 0 1.1rem 1rem;
    }

    h3 {
        font-size: 1.5rem;
        letter-spacing: -0.025rem;
        margin-top: 2rem;
        margin-bottom: 1rem;
        line-height: 2.188rem;
        padding: 0.6rem 0 0.6rem 1rem;
    }

    h4 {
        font-size: 1.25rem;
        margin-bottom: 0.75rem;
        line-height: 1.875rem;
    }

    h2,
    h3,
    h4 {
        color: #060b11;
        word-break: keep-all;
        font-weight: 500;
    }

    h2,
    h3 {
        border-left: 0.25rem solid #ee8c36;
        border-top-right-radius: 0.625rem;
        border-bottom-right-radius: 0.625rem;
        background-color: #f3f3f3;
    }

    h4::before {
        content: "▪ ";
    }

    p {
        font-size: 1rem;
        color: #060b11;
        font-weight: 300;
    }

    ul {
        list-style-type: disc;
    }

    ol {
        list-style-type: decimal;
    }

    ul,
    ol {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        padding-left: 2rem;
    }

    li {
        font-size: 1rem;
        line-height: 1.6rem;
        margin-bottom: 0.5rem;
        color: #060b11;
        font-weight: 300;
    }

    a {
        color: #ee8c36;
        text-decoration: underline;
    }

    a:hover {
        text-decoration: none;
    }

    pre {
        padding: 1rem;
        overflow-x: auto;
        font-size: 0.875rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    code {
        font-size: 0.875rem;
        font-weight: 500;
        background-color: #777;
        color: white;
        height: 100%;
        padding: 0.25rem 0.5rem;
        border-radius: 0.25rem;
    }

    blockquote {
        border-left: 0.3rem solid #ee8c36;
        padding: 1rem;
        color: #060b11;
        font-weight: 300;
        background-color: #f3f3f3;
        margin: 1.5rem;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }

    .ql-size-10 {
        font-size: 10px !important;
    }

    .ql-size-11 {
        font-size: 11px !important;
    }

    .ql-size-12 {
        font-size: 12px !important;
    }

    .ql-size-13 {
        font-size: 13px !important;
    }

    .ql-size-14 {
        font-size: 14px !important;
    }

    .ql-size-15 {
        font-size: 15px !important;
    }

    .ql-size-16 {
        font-size: 16px !important;
    }

    .ql-size-17 {
        font-size: 17px !important;
    }

    .ql-size-18 {
        font-size: 18px !important;
    }

    .ql-size-19 {
        font-size: 19px !important;
    }

    .ql-size-20 {
        font-size: 20px !important;
    }

    .ql-size-21 {
        font-size: 21px !important;
    }

    .ql-size-22 {
        font-size: 22px !important;
    }

    .ql-size-23 {
        font-size: 23px !important;
    }

    .ql-size-24 {
        font-size: 24px !important;
    }

    .ql-size-25 {
        font-size: 25px !important;
    }

    .ql-size-26 {
        font-size: 26px !important;
    }

    .ql-font-arial {
        font-family: Arial, sans-serif;
    }

    .ql-font-comic-sans {
        font-family: "Comic Sans", sans-serif;
    }

    .ql-font-courier-new {
        font-family: "Courier New", sans-serif;
    }

    .ql-font-georgia {
        font-family: Georgia, sans-serif;
    }

    .ql-font-helvetica {
        font-family: helvetica, sans-serif;
    }

    .ql-font-lucida {
        font-family: "Lucida Sans", sans-serif;
    }

    // .ql-font-Noto_Sans_KR {
    //     font-family: "Noto Sans KR", sans-serif;
    // }

    .ql-align-center {
        text-align: center;
    }

    .ql-align-right {
        text-align: right;
    }

    .ql-align-justify {
        text-align: justify;
    }

    .ql-indent-1 {
        text-indent: 5.625%;
    }

    .ql-indent-2 {
        text-indent: 11.25%;
    }

    .ql-indent-3 {
        text-indent: 16.875%;
    }

    .ql-indent-4 {
        text-indent: 22.5%;
    }

    .ql-indent-5 {
        text-indent: 28.125%;
    }

    .ql-indent-6 {
        text-indent: 33.75%;
    }

    .ql-indent-7 {
        text-indent: 39.375%;
    }

    .ql-indent-8 {
        text-indent: 45%;
    }

    // .ql-syntax {
    //   // background-color: #23241F;
    // }

    @media (max-width: 48rem) {
        h2 {
            font-size: 1.525rem;
        }

        h3 {
            font-size: 1.4rem;
        }

        h4 {
            font-size: 1.15rem;
        }

        p {
            font-size: 0.9rem;
        }

        li {
            font-size: 0.9rem;
        }

        pre {
            font-size: 0.8rem;
        }

        code {
            font-size: 0.8rem;
        }
    }
}

.dark {
    .blog-post-content {
        li {
            color: #ececec;
            font-weight: 400;
        }

        p {
            color: #ececec;
            font-weight: 400;
        }

        strong {
            font-weight: 900;
        }

        h2,
        h3 {
            color: #ececec;
            background-color: #202020;
        }

        h4 {
            color: #ececec;
        }

        blockquote {
            color: #ececec;
            background-color: #202020;
            font-weight: 400;
        }

        code {
            background-color: #202020;
            font-weight: 400;
        }
    }
}
