@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .mask-image {
    mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    mask-repeat: no-repeat;
    mask-position: center;

    /* -webkit-mask-image: linear-gradient(90deg, transparent, #fff 20%, #fff 80%, transparent);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center; */
  }
}
