.blog-post-content {
  font-family: 'Noto Sans KR', 'Courier New', Courier, monospace;

  img {
    width: 100%;
    /* scale: 106%; */
    margin: 8px 0 8px 0;
    z-index: 0;
    border-radius: 1rem;
  }
  
  /* 제목 */
  h1 {
    font-size: 2.5rem; /* 원하는 크기로 조정 */
    // font-weight: bold;
    margin-bottom: 1rem; /* 아래 여백 */
  }
  
  h2 {
    font-size: 2.25rem;
    // font-weight: bold;
    margin-bottom: 0.75rem;
  }
  
  h3 {
    font-size: 2rem;
    // font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* h4 스타일 */
  h4 {
    font-size: 1.75rem;
    // font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* h5 스타일 */
  h5 {
    font-size: 1.5rem;
    // font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* h6 스타일 */
  h6 {
    font-size: 1.25rem;
    // font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  /* 본문 텍스트 */
  p {
    font-size: 1.2rem;
    line-height: 1.6; /* 줄 간격 */
  }
  
  /* 목록 */
  ul,
  ol {
    margin-bottom: 1rem;
  }
  
  li {
    font-size: 1rem;
    line-height: 1.5;
  }
  
  /* 하이퍼링크 스타일 */
  a {
    color: #007bff; /* 링크 색상 */
    text-decoration: underline; /* 밑줄 추가 */
  }
  
  a:hover {
    color: #0056b3; /* 호버 시 링크 색상 변경 */
    text-decoration: none;
  }
  
  /* 코드 블록 */
  pre {
    padding: 1rem; /* 내부 여백 */
    overflow-x: auto; /* 가로 스크롤 바 추가 */
    border-radius: 0.5rem;
  }
  
  code {
    padding: 0.25rem 0.5rem; /* 내부 여백 */
    border-radius: 0.25rem;
    font-size: 0.875rem;
    font-family: "Courier New", Courier, monospace; /* 고정폭 글꼴 사용 */
  }
  
  /* 인용문 */
  blockquote {
    border-left: 4px solid #007bff; /* 왼쪽 선 색상 */
    padding-left: 1rem; /* 내부 여백 */
    margin-left: 0; /* 마진 초기화 */
  }
  
  /* 표 스타일 */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  th,
  td {
    border: 1px solid #ccc; /* 테두리 선 색상 */
    padding: 0.5rem; /* 셀 내부 여백 */
  }
  
  th {
    background-color: #f8f9fa; /* 헤더 배경색 */
  }
  
  /* 리스트 스타일링 */
  ul,
  ol {
    margin-bottom: 1rem;
    padding-left: 2rem; /* 왼쪽 여백 */
  }
  
  /* 순서 없는 리스트 아이콘 스타일 */
  ul {
    list-style-type: disc; /* 원형 아이콘 */
  }
  
  /* 순서 있는 리스트 번호 스타일 */
  ol {
    list-style-type: decimal; /* 숫자 */
  }
  
  /* 이미지 캡션 스타일 */
  figure {
    margin: 0; /* 기본 마진 초기화 */
  }
  
  figcaption {
    font-size: 0.875rem;
    color: #777;
    text-align: center;
    margin-top: 0.5rem; /* 캡션과 이미지 간격 */
  }
  
  /* 부가적인 디자인 요소 추가 */
  hr {
    border: none;
    border-top: 1px solid #ccc; /* 수평선 색상 */
    margin: 1rem 0; /* 위아래 여백 */
  }
  
  .ql-size-10 {
    font-size: 10px !important;
  }
  
  .ql-size-12 {
    font-size: 12px !important;
  }
  
  .ql-size-14 {
    font-size: 14px !important;
  }
  
  .ql-size-16 {
    font-size: 16px !important;
  }
  
  .ql-size-18 {
    font-size: 18px !important;
  }
  
  .ql-size-20 {
    font-size: 20px !important;
  }
  
  .ql-size-22 {
    font-size: 22px !important;
  }  
  
  .ql-size-24 {
    font-size: 24px !important;
  } 
   
  .ql-size-26 {
    font-size: 26px !important;
  } 
  
  .ql-size-28 {
    font-size: 28px !important;
  }  
  
  .ql-size-30 {
    font-size: 30px !important;
  }

  .ql-font-arial {
    font-family: Arial, "Courier New", Courier, monospace; /* 고정폭 글꼴 사용 */
  }
  
  .ql-font-comic-sans {
    font-family: 'Comic Sans', 'Arial Narrow', Arial, sans-serif;
  }
  
  .ql-font-courier-new {
    font-family: 'Courier New', Courier, monospace;
  }
  
  .ql-font-georgia {
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  .ql-font-georgia {
    font-family: helvetica, 'Times New Roman', Times, serif
  }
  
  .ql-font-lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }
  
  .ql-font-Noto_Sans_KR {
    font-family: 'Noto Sans KR', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-right {
    text-align: right;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-indent-1 {
    text-indent: 5.625%;
  }

  .ql-indent-2 {
    text-indent: 11.25%;
  }

  .ql-indent-3 {
    text-indent: 16.875%;
  }

  .ql-indent-4 {
    text-indent: 22.5%;
  }

  .ql-indent-5 {
    text-indent: 28.125%;
  }

  .ql-indent-6 {
    text-indent: 33.75%;
  }

  .ql-indent-7 {
    text-indent: 39.375%;
  }

  .ql-indent-8 {
    text-indent: 45%;
  }

  // .ql-syntax {
  //   // background-color: #23241F;
  // }
  
  /* 미디어 쿼리를 사용하여 블로그가 모바일 장치에서도 적절하게 표시되도록 만들 수 있습니다. */
  @media (max-width: 768px) {
    h1 {
      font-size: 2rem;
    }
    h2 {
      font-size: 1.75rem;
    }
    h3 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.875rem;
    }
  }
}
